.carousel-control-next-icon, .carousel-control-prev-icon
{
    width: 100px;
    height: 100px;
}

/*
https://stackoverflow.com/questions/39937072/styling-bootstrap-carousel-indicators
*/

.carousel  /*slider */
{
	position: relative;
}
.carousel .carousel-indicators	/* indicator wrapper*/
{
	position: absolute;
	bottom: 0;
	left:0px;
	width: 100%;
  	margin: 0;
  	left: 0;
 	right: 0;
 	width: 100%;
 	display: flex;	/* this is for indicators  */
}

#headcarouselid .carousel-inner {
  max-height: 800px;
}

#headcarousel_container .carousel-indicators li /* indicators*/
{
	flex-grow: 1;  /* make all indicator li similarly stretched */
	height: 40px;
	border-radius: 2px;
  border: 5px dashed;
}

#headcarousel_container .carousel-indicators li.active
{
	background-color:rgba(251,222,87,0.5) ;/* changes indicators color when it is active*/

}
.carousel .carousel-inner .carousel-item img
{
	width: 100%;
	/*height: 100vh;*/
	object-fit: cover;
}

#listServices {
  font-size: 20px;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    10% { transform: scale(1.2); }
    20% { transform: scale(1); }
    30% { transform: scale(1.2); }
    40% { transform: scale(1); }
    50% { transform: scale(1.2); }
    60% { transform: scale(1); }
    70% { transform: scale(1.2); }
    80% { transform: scale(1); }
    90% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#offer, #phone {
    animation-name: pulse_animation;
    animation-duration: 20000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#intro {
  font-size: 20px;
  background-color: PowderBlue;
}

#contactUs {
  font-size: 20px;
}

#phone {

  position: absolute;
  background-color: PowderBlue;

   -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from
  {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
/* all other browsers */
@keyframes spinner {
   from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
   }
   to
   {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);

   }
}






.select,
#locale {
  width: 100%;
}
.like {
  margin-right: 10px;
}
