.title{
    color:gray;

    position:absolute;
    -webkit-animation:linear  alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}

@keyframes run {
    0% { left: 0;}
    50%{ left : 80%;}
    100%{ left: 0;}
}

#separator {
  height: 50px;
}

/*
.title{
    bottom:15%;
    position:absolute;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}

@keyframes run {
    0% { left: 0;}
    50%{ left : 80%;}
    100%{ left: 0;}
}
*/
