/*
Makes page-filler fill the page
*/
html,body{height:100%!important;}

.title{
    color:gray;
    position:absolute;
}

@keyframes run {
    0% { left: -50%;}
    10% { left: -50%;}
    20% { left: -50%;}
    30% { left: -50%;}
    40% { left: -50%;}
    50% { left: -50%;}
    60% { left: -50%;}
    70% { left: -50%;}
    80% { left: -50%;}
    90% { left: -50%;}
    100% { left: 0%;}
}

.title.on {
  -webkit-animation:linear  alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 7s;
}

#separator {
  height: 100px;
}

/*
Alternate background color

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: red!important; // Choose your own color here
 }
*/

.odd {
  background-color: LightGray;
}
